@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'Jua', sans-serif;
    font-size: 17px;
}

strong {
    color: #D47FFF;
}

.entity-header__image {
    border-radius: 5em;
    animation: glow 1s ease-in-out infinite alternate;
}

.entity-content__description {
    animation: glow 1s ease-in-out infinite alternate;
    border-radius: .5em;
    padding: 1em;
}

  @-webkit-keyframes glow {
    from {
      border: .2em solid #00f2d9;
    }
    
    to {
        border: .2em solid #00F260;
    }
  }

a {
    color: #D47FFF;	
}

.entity-button, .entity-owner {
    border-radius: 1.2em;
}

.entity-table__cell {
    background: none;
}
